<a href="https://colab.research.google.com/github/GbotemiB/Housing_Project/blob/main/concat_desciption_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#This notebook was used to concatenating the description score that was done in batches across different notebooks and later used to retrain the model in another notebook.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Code to read csv file into Colaboratory:!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id7k = '19yJqFMPGb3yuyhvr3yl2KAxMg_7nV8yl'
id14k = '1yX-sy3cmC9rOQ3LnAnaPdNsEuCL8gmFd'
id21k = '1iH9DTCJgDmo10U_ZF9dJ5ZN0WQ6QxApM'
id28k = '1ok48zP4s1WoVx0jDmeyuydXwcNYKGPtZ'
id33k = '1-9fDl9HQs_xjA7RH4X7i4M-_kQPwIo6k'
id28kk = '1YWSST7T6n0MSyKiiXmOEvXc4FYrp5dSO'
id666k = '1Iq4sadtZxuDh9VFNdoRDZyYU6-X7zMfP'
id999k = '1F3e-_yu7Vc7ieKnx45fukT9BrXNybTlC'
id77k = '1JVKTq_uheFaKdm-gA4cx21F86WYnHmCE'
id84k = '155hXYHz-Zuj6j0PY3kepp-Ms1UbHh5YF'
id90k = '1QiLsw24kQDcqhXQyQLpeCdL-lZVP6BSC'
id95k = '1Vy2AlnwNi_AhWdLU_d40OLZmJ5MQ-xKY'
id100k = '1vi9mkP5T5l-OLOw-SkOxBui7bPgN8XCo'
id42k = '1azXnDESyL2jKk6mDKhorvH99aNfZEDO0'
id47k = '1IsiKhRDOy5VYJHYdGl5IaaKq_DE_RFWX'
id52k = '1ZYd_MYIhD7ejh9SJZ1ObTF6fwcyAIdbx'
id60k = '1yqVEX3ju6CsC5Rufsk2lcFk4-5xp47Ah'
id666k = '1N1QpeIHQjcTi2Knrp2xUAtcDmOujwT2E'

In [ ]:
ids = [id7k, id14k, id21k, id28k, id33k, id28kk, id666k, id999k, id77k, id84k, id90k, id95k, id100k, id42k, id47k, id52k, id60k, id666k]
df = {}

In [ ]:
for id in ids:
  download = drive.CreateFile({'id':id})
  data = ids.index(id)
  download.GetContentFile(f'{data}.csv')
  df[f'df_{data}'] = f'{data}.csv'

In [ ]:
df0 = pd.read_csv('0.csv', header=None)
df1 = pd.read_csv('1.csv', header=None)
df2 = pd.read_csv('2.csv', header=None)
df3 = pd.read_csv('3.csv', header=None)
df4 = pd.read_csv('4.csv', header=None)
df5 = pd.read_csv('5.csv', header=None)
df6 = pd.read_csv('6.csv', header=None)
df7 = pd.read_csv('7.csv', header=None)
df8 = pd.read_csv('8.csv', header=None)
df9 = pd.read_csv('9.csv', header=None)
df10 = pd.read_csv('10.csv', header=None)
df11 = pd.read_csv('11.csv', header=None)
df12 = pd.read_csv('12.csv', header=None)
df12 = pd.read_csv('12.csv', header=None)
df13 = pd.read_csv('13.csv', header=None)
df14 = pd.read_csv('14.csv', header=None)
df15 = pd.read_csv('15.csv', header=None)
df16 = pd.read_csv('16.csv', header=None)

In [ ]:
df16.tail()

,0,1,2,3,4,5
10147,329691,nach Vereinbarung,Per sofort vermieten wir eine zwecksmässige un...,de,We are renting a functional and spacious 3.5 r...,0.996970
10148,329707,nach Vereinbarung,Belle chambre à louer . Confortable dans un ap...,fr,Nice room for rent. Comfortable in an apartmen...,0.989706
10149,329708,01.10.2021,Finden Sie Ihr neues Zuhause in dieser tollen ...,de,Find your new home in this great 3.5/4.5 room ...,0.543943
10150,329714,sofort,Ce logement se situe à deux pas des lignes de ...,fr,This accommodation is located close to bus lin...,0.563616
10151,329720,nach Vereinbarung,Superbe studio idéalement placé dans le très a...,fr,Superb studio ideally located in the very plea...,0.882210

In [ ]:
concat_data = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16], ignore_index=True)
len(concat_data)

102701

In [ ]:
concat_data.head()

,0,1,2,3,4,5
0,25017,sofort,Dans appartement avec usage de jardin et pisci...,fr,In apartment with use of garden and covered sw...,0.788705
1,25021,nach Vereinbarung,Bureaux 3 pièces et 1/2 de 97 m2 dont une gran...,fr,3 and 1/2 room offices of 97 m2 including a la...,0.994572
2,25024,nach Vereinbarung,"Idéalement située dans un environnement calme,...",fr,"Ideally located in a quiet environment, surrou...",0.941113
3,25025,nach Vereinbarung,Local commercial d'une surface totale de 114m2...,fr,Commercial premises with a total area of ​​114...,0.943816
4,25026,nach Vereinbarung,Zimmer in modernen Einfamilienhaus mit Zugang ...,de,Room in a modern family house with access to B...,0.840597

In [ ]:
concat_data.rename(columns = {0:'id', 1:'available_date', 2:'adDescription', 3:'detectLang', 4:'transDescription', 5:'transScore'}, inplace=True)
concat_data.head()

,id,available_date,adDescription,detectLang,transDescription,transScore
0,25017,sofort,Dans appartement avec usage de jardin et pisci...,fr,In apartment with use of garden and covered sw...,0.788705
1,25021,nach Vereinbarung,Bureaux 3 pièces et 1/2 de 97 m2 dont une gran...,fr,3 and 1/2 room offices of 97 m2 including a la...,0.994572
2,25024,nach Vereinbarung,"Idéalement située dans un environnement calme,...",fr,"Ideally located in a quiet environment, surrou...",0.941113
3,25025,nach Vereinbarung,Local commercial d'une surface totale de 114m2...,fr,Commercial premises with a total area of ​​114...,0.943816
4,25026,nach Vereinbarung,Zimmer in modernen Einfamilienhaus mit Zugang ...,de,Room in a modern family house with access to B...,0.840597

In [ ]:
concat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102701 entries, 0 to 102700
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                102701 non-null  int64
 1   available_date    102701 non-null  object
 2   adDescription     102701 non-null  object
 3   detectLang        102701 non-null  object
 4   transDescription  102701 non-null  object
 5   transScore        102701 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 4.7+ MB

In [ ]:
sorted_df = concat_data.sort_values('id')

In [ ]:
len(sorted_df[sorted_df.duplicated()])

10552

In [ ]:
102701 - 10552

92149

In [ ]:
droped_duplicate = sorted_df.drop_duplicates(keep='first', ignore_index=True, inplace=False)

In [ ]:
len(droped_duplicate)

92149

In [ ]:
droped_duplicate.head()

,id,available_date,adDescription,detectLang,transDescription,transScore
0,6,sofort,A louer local plein pied de 100m2 facile d'acc...,fr,For rent local full foot of 100m2 easy to acce...,0.992913
1,12,sofort,in Steinmaur vermieten wir verschiedene möblie...,de,in Steinmaur we rent various furnished single ...,0.982848
2,17,not available,Situé au 1er étage dans un immeuble de la camp...,fr,Located on the 1st floor in a building in the ...,0.985898
3,18,not available,Suchen Sie einen neuen Arbeitsort an renommier...,de,Are you looking for a new place of work in a r...,0.744049
4,20,nach Vereinbarung,Magnifique appart. de 3.5 pièces - cuisine age...,fr,Magnificent apartment. of 3.5 rooms - fitted k...,0.921129

In [ ]:
droped_duplicate[['id', 'transScore']]

           id  transScore
0           6    0.992913
1          12    0.982848
2          17    0.985898
3          18    0.744049
4          20    0.921129
...       ...         ...
92144  582654    0.897080
92145  582655    0.838341
92146  582662    0.990469
92147  582665    0.604415
92148  582667    0.806116

[92149 rows x 2 columns]

#The next line of code was used to output the merged files to be used in the modelling notebook

In [ ]:
droped_duplicate[['id', 'transScore']].to_csv('description_score.csv',index=False)

In [ ]:
99146-92149

6997

In [ ]:
df0.head()

,0,1,2,3,4,5
0,25017,sofort,Dans appartement avec usage de jardin et pisci...,fr,In apartment with use of garden and covered sw...,0.788705
1,25021,nach Vereinbarung,Bureaux 3 pièces et 1/2 de 97 m2 dont une gran...,fr,3 and 1/2 room offices of 97 m2 including a la...,0.994572
2,25024,nach Vereinbarung,"Idéalement située dans un environnement calme,...",fr,"Ideally located in a quiet environment, surrou...",0.941113
3,25025,nach Vereinbarung,Local commercial d'une surface totale de 114m2...,fr,Commercial premises with a total area of ​​114...,0.943816
4,25026,nach Vereinbarung,Zimmer in modernen Einfamilienhaus mit Zugang ...,de,Room in a modern family house with access to B...,0.840597