<a href="https://colab.research.google.com/github/GbotemiB/Housing_Project/blob/main/correction_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/MyDrive/trans_500000.csv' 
path2 = '/content/drive/MyDrive/trans_550000.csv' 
path3 = '/content/drive/MyDrive/trans_600000.csv'

In [4]:
data = pd.read_csv(path, header=None)
data2 = pd.read_csv(path2, header=None)
data3 = pd.read_csv(path3, header=None)

In [5]:
len(data), len(data2), len(data3)

(41597, 39347, 12427)

In [6]:
data.tail()

,0,1,2,3,4
41592,507794,By arrangement,"Moderno appartamento ""Minergie"" 2.5 locali di ...",it,"Modern 2.5 room apartment ""Minergie"" of approx..."
41593,507795,By arrangement,Bellissimo rustico nella magica Val di Blenio ...,it,Beautiful cottage in the magical Val di Blenio...
41594,507796,nach Vereinbarung,"composto da cucina arredata, soggiorno, 2 came...",it,"composed of fitted kitchen, living room, 2 bed..."
41595,507797,01.04.2022,"comprenant: hall, pièce principale, cuisine, s...",fr,"comprising: hall, main room, kitchen, bathroom..."
41596,507798,By arrangement,"Siamo a Carona,ad appena 10 minuti da Paradiso...",it,"We are in Carona, just 10 minutes from Paradis..."

In [7]:
data2.head()

,0,1,2,3,4
0,516767,01.05.2022,Wir vermieten per 01.05.2022 oder nach Vereinb...,de,We rent a quiet and sunny 3 1/2 room apartment...
1,516768,By arrangement,"A Louer 2,5 pièces à Ecublens dans villa au re...",fr,For rent 2.5 rooms in Ecublens in a villa on t...
2,516769,By arrangement,"A Massagno a pochi minuti da Lugano,proponiamo...",it,"In Massagno, a few minutes from Lugano, we off..."
3,516770,01.03.2022,"Renovierte, helle Dachwohnung in einem 2-Famil...",de,"Renovated, bright attic apartment in a 2-famil..."
4,516771,By arrangement,Affittasi appartamento appena rinnovato (tutte...,it,Newly renovated apartment for rent (all the wa...

In [8]:
data2.tail()

,0,1,2,3,4
39342,558223,nach Vereinbarung,Ihr neues zuhauseDiese ruhige und gemütliche 3...,de,Your new homeThis quiet and cozy 3 ½ room apar...
39343,558224,nach Vereinbarung,WOHN(T)RAUM MIT WEITBLICKMitten im Dorfkern vo...,de,LIVING (D) ROOM WITH A VIEW In the middle of t...
39344,558225,nach Vereinbarung,Wir vermieten diverse Einstellplätze in der Ti...,de,We rent various parking spaces in the Escherpa...
39345,558226,nach Vereinbarung,Eine virtuelle Besichtigung der Liegenschaft i...,de,A virtual tour of the property is already poss...
39346,558227,nach Vereinbarung,"Au coeur du village de Vuarrens, découvrez ce ...",fr,"In the heart of the village of Vuarrens, disco..."

In [9]:
data3.head()

,0,1,2,3,4
0,569709,Immediately,"Disponiamo in vendita di un bel 4,5 , in casa ...",it,"We have for sale a nice 4.5, in a period house..."
1,569710,15.12.2021,"Situé à 150 mètres de la gare de Bussigny, mag...",fr,Located 150 meters from Bussigny train station...
2,569711,01.04.2022,A louer 2 pièces bien situé au 2ème étage en v...,fr,For rent 2 rooms well located on the 2nd floor...
3,569712,01.04.2022,Lugano centro. Nella elegante cornice della zo...,it,Lugano center. In the elegant setting of the p...
4,569713,nach Vereinbarung,La Natura e l'Artificio che più caratterizzano...,it,The nature and the artifice that most characte...

In [10]:
data3.tail()

,0,1,2,3,4
12422,582665,By arrangement,"La société Shifters déménage, besoin de plus d...",fr,"Shifters company is moving, need more space!!...."
12423,582666,By arrangement,L'appartement se situe au centre de la commune...,fr,The apartment is located in the center of the ...
12424,582667,By arrangement,Avec un grand potentiel - lumineux avec un emp...,fr,With great potential - bright with an ideal lo...
12425,582668,01.04.2022,Die Wohnung verfügt über eine offene Küche mit...,de,The apartment has an open kitchen with steamer...
12426,582668,01.04.2022,Die Wohnung verfügt über eine offene Küche mit...,de,The apartment has an open kitchen with steamer...

In [11]:
data.columns = ['a', 'b', 'c', 'd', 'e']

In [ ]:
data.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
data.loc[data['a'] =='51807']

,a,b,c,d,e
50022,51807,15.03.2021,"Surface d'activités : garage, industrie, artis...",fr,"Surface of activities: garage, industry, craft..."

In [ ]:
data.loc[data['a'] == '51811']

,a,b,c,d,e
50026,51811,01.05.2021,Suchen Sie etwas ganz Spezielles an zentraler ...,de,Are you looking for something very special in ...

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).