<a href="https://colab.research.google.com/github/GbotemiB/Housing_Project/blob/main/working_translation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Code to read csv file into Colaboratory:!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Links to CSV files

In [3]:
id50 = '1v-l5x7xpCgI3az5lIv-fW9SviuS3TBfw'
id100 = '1WKUypQAJ17HhBqTXkxlfIW6_MeILONPN'
id150 = '16E6mfTuF54DIAPrOd6xfm3hsBHFKlCiS'
id200 = '1WE886ddDiVEZMTHEE48iqtpLGSML2OmP'
id250 = '15bxLpQiYljmsULz2s2p4dXU-TvyxM6BV'
id300 = '1zT_csqhUsR2qusF12cTkaolKYPdMUy2S'
id350 = '12aiDeWGMdWoPcqfV5y0EaTQxE3fEu404'
id400 = '1gTlKc-dZHbL7RQuUqxeJNq6yU_KdXxDf'
id450 = '18yd_j3tb77UhtFTzx1HBtmZ7vh03Epse'
id500 = '1pDYKvPZkKvGsS-sAZ25K1nfZIhkaBbGm'
id550 = '1Pwo8fwEzE4Juivo5aRZQEPZ122yeoOfM'
id600 = '1OcXG8qzxMHr9ymQtg2v-GuTPeo_nxRlw'

In [4]:
id = '1ZxKkhCRhUhKERAeHZttmHkPNnxgEeZ1N'

In [5]:
#downloaded = drive.CreateFile({'id':id}) 
#downloaded.GetContentFile('Filename.csv')

In [6]:
ids = [id50, id100, id150, id200, id250, id300, id350, id400, id450, id500, id550, id600, id]
df = {}

In [7]:
#https://drive.google.com/file/d/15bxLpQiYljmsULz2s2p4dXU-TvyxM6BV/view?usp=sharing

In [8]:
for id in ids:
  download = drive.CreateFile({'id':id})
  data = ids.index(id)
  download.GetContentFile(f'{data}.csv')
  df[f'df_{data}'] = f'{data}.csv'

In [9]:
df

{'df_0': '0.csv',
 'df_1': '1.csv',
 'df_10': '10.csv',
 'df_11': '11.csv',
 'df_12': '12.csv',
 'df_2': '2.csv',
 'df_3': '3.csv',
 'df_4': '4.csv',
 'df_5': '5.csv',
 'df_6': '6.csv',
 'df_7': '7.csv',
 'df_8': '8.csv',
 'df_9': '9.csv'}

# Load CSV files

In [10]:
df_id = pd.read_csv('12.csv')
df_0 = pd.read_csv('0.csv', header=None)
df_1 = pd.read_csv('1.csv', header=None)
df_2 = pd.read_csv('2.csv', header=None)
df_3 = pd.read_csv('3.csv', header=None)
df_4 = pd.read_csv('4.csv', header=None)
df_5 = pd.read_csv('5.csv', header=None)
df_6 = pd.read_csv('6.csv', header=None)
df_7 = pd.read_csv('7.csv', header=None)
df_8 = pd.read_csv('8.csv', header=None)
df_9 = pd.read_csv('9.csv', header=None)
df_10 = pd.read_csv('10.csv', header=None)
df_11 = pd.read_csv('11.csv', header=None)

In [11]:
len(df_id)

105447

In [12]:
df_id.head()

   Unnamed
0        6
1       12
2       17
3       18
4       20

In [13]:
df_0.head()

,0,1,2,3,4
0,0,not available,Appartement avec beaucoup de charme à louer à ...,fr,"Charming apartment for rent in Asuel, in La Ba..."
1,1,nach Vereinbarung,Die Highlights:» Gut geschnittener Büroraum in...,de,The highlights: »Well-designed office space in...
2,2,sofort,Für diese Wohnung suchen wir ein nettes Paar (...,de,For this apartment we are looking for a nice c...
3,3,sofort,"ChiassoSi affitta in pieno a centro a Chiasso,...",it,"Chiasso We rent in the center of Chiasso, 10-r..."
4,4,sofort,"Attico mansardato, posto in elegante palazzina...",it,"Attic penthouse, located in an elegant buildin..."

In [14]:
df_0.tail()

,0,1,2,3,4
50022,51807,15.03.2021,"Surface d'activités : garage, industrie, artis...",fr,"Surface of activities: garage, industry, craft..."
50023,51808,01.05.2021,C'est à deux pas du parc de Valency ainsi qu'à...,fr,This 3-room apartment is located a stone's thr...
50024,51809,sofort,Durch die helle Fensterfronten bietet der Raum...,de,The room offers a lot of light through the bri...
50025,51810,01.05.2021,"Im Richti Areal, direkt beim Bahnhof Wallisell...",de,"In the Richti Areal, right next to the Wallise..."
50026,51811,01.05.2021,Suchen Sie etwas ganz Spezielles an zentraler ...,de,Are you looking for something very special in ...

In [ ]:
df_1.head()

,0,1,2,3,4
0,51812,nach Vereinbarung,"Idéalement placé entre Lausanne et Genève, Le ...",fr,"Ideally located between Lausanne and Geneva, t..."
1,51813,sofort,Nähe Hauptbahnhof und Europaalle vermieten wir...,de,We are now renting out several parking spaces ...
2,51814,nach Vereinbarung,"Coop, Apotheke und Drogerie sind einige Meter ...",de,"Coop, pharmacy and drugstore are a few meters ..."
3,51815,nach Vereinbarung,Ce bien d'exception se situe dans la 3ème étap...,fr,This exceptional property is located in the 3r...
4,51816,nach Vereinbarung,"An bester Lage, im Herzen von Bern, könnten si...",de,Your business premises could soon be in a prim...

In [ ]:
df_1.tail()

,0,1,2,3,4
50073,103571,sofort,"Belle maison individuelle de 4,5 pièces récemm...",fr,Beautiful detached house with 4.5 rooms recent...
50074,103572,01.05.2021,Bel appartement à 10min en vélo de l'hôpital R...,fr,Beautiful apartment 10min by bike from the Riv...
50075,103573,01.06.2021,Per 1. Juni 2021 oder nach Vereinbarung vermie...,de,"As of June 1, 2021 or by arrangement, we will ..."
50076,103574,nach Vereinbarung,Herrlicher freier und atemberaubender Blick üb...,de,Magnificent free and breathtaking view over th...
50077,103575,nach Vereinbarung,Cette charmante villa individuelle de 6.5 pièc...,fr,This charming detached 6.5 room villa is locat...

In [ ]:
df_2.head()

,0,1,2,3,4
0,103577,01.04.2021,Wir vermieten an ruhiger Lage eine geräumige 4...,de,We rent a spacious 4-room apartment in a quiet...
1,103578,nach Vereinbarung,Locaux meublés de bureaux comptoir chaises arm...,fr,Premises furnished with offices counter chairs...
2,103579,01.04.2021,MIETDAUER ab 1. April 2021 bis 30. September 2...,de,"RENTAL PERIOD from April 1, 2021 to September ..."
3,103580,nach Vereinbarung,"Cette maison, idéale pour une famille, bénéfic...",fr,"This house, ideal for a family, enjoys a rare ..."
4,103581,01.08.2021,"Das grosszügige, freistehende Einfamilienhaus ...",de,"The spacious, detached single-family house is ..."

In [ ]:
df_2.tail()

,0,1,2,3,4
50146,155355,not available,KurzbeschreibungDie Wohnung entsteht aus einem...,de,Brief descriptionThe apartment is created from...
50147,155356,nach Vereinbarung,"Fläche 1'068m2; Liegenschaft; Gebäude, Strasse...",de,"Area 1'068m2; Property; building, street, path..."
50148,155358,20.12.2022,Neue Förderung von Villen / Apartments in den ...,de,New promotion of villas / apartments on the he...
50149,155359,nach Vereinbarung,Appartement a louer à Vallorbe.3 pièces de 54m...,fr,Apartment for rent in Vallorbe. 3 rooms of 54m...
50150,155360,01.06.2021,Die zentral gelegene 3.5-Zimmer Wohnung liegt ...,de,The centrally located 3.5 room apartment is in...

In [ ]:
df_3.head()

,0,1,2,3,4
0,155361,01.08.2021,Zu vermieten mitten im Zentrum von Erlach und ...,de,For rent in the center of Erlach and yet in th...
1,155362,nach Vereinbarung,"Jolie propriété, construite dans les années 19...",fr,"Pretty property, built in the 1970s and very w..."
2,155363,01.07.2021,Die unmöblierte Wohnung liegt im 2.OG und kann...,de,The unfurnished apartment is on the 2nd floor ...
3,155364,01.07.2021,Die Räumlichkeiten der ehemaligen Kegelbahn bi...,de,The premises of the former bowling alley offer...
4,155365,sofort,"Nach Sanierung vermieten wir an ruhiger, sonni...",de,"After renovation, we rent a 4 1/2-room corner ..."

In [ ]:
df_3.tail()

,0,1,2,3,4
50090,207051,sofort,Wir vermieten per sofort oder nach Vereinbarun...,de,We rent approx. 772 m² of fully developed spac...
50091,207052,01.08.2021,Profitieren Sie vom tiefen Steuerfuss der Stad...,de,Benefit from the low tax rate of the city of O...
50092,207053,01.09.2021,Ich suche einen neuen Mitbewohner für meine 2e...,de,I'm looking for a new roommate for my 2-person...
50093,207054,01.10.2021,Nous mettons en location un lumineux logement ...,fr,We are renting a bright accommodation ideally ...
50094,207056,sofort,\rDie grossräumige Altbauwohnung in renovierte...,de,The spacious renovated old building apartment ...

In [ ]:
df_4.head()

,0,1,2,3,4
0,207057,31.07.2021,Cet appartement au quatrième étage est idéalem...,fr,This fourth floor apartment is ideally located...
1,207058,01.10.2021,Wir vermieten ab dem 01.10.2021 ein WG-Zimmer ...,de,"From October 1st, 2021 we will rent a shared r..."
2,207059,nach Vereinbarung,Lamone è un Comune Ticinese dell'area di Lugan...,it,Lamone is a Ticino municipality in the Lugano ...
3,207061,nach Vereinbarung,A louer 3.5 pcs 80m2 Jurastrasse 21. 2502 Bien...,de,A louer 3.5 pcs 80m2 Jurastrasse 21. 2502 Bien...
4,207062,nach Vereinbarung,\rDie 3 1/2-Zimmerwohnung befindet sich im 2. ...,de,The 3 1/2 room apartment is on the 2nd floor. ...

In [ ]:
df_4.tail()

,0,1,2,3,4
50051,258896,sofort,*** Ihr neues Pilatus Studio! Zügeln Sie Ihr U...,de,*** Your new Pilatus Studio! Relocate your com...
50052,258897,15.07.2021,Situé au 2ème étage d'un petit immeuble locati...,fr,Located on the 2nd floor of a small rental bui...
50053,258898,01.09.2021,Habitation individuelle à louer pour une pério...,fr,Individual dwelling for rent for a period of t...
50054,258899,sofort,"Nella nuova ""Residenza Francesca"" proponiamo i...",it,"In the new ""Residenza Francesca"" we offer for ..."
50055,258900,01.08.2021,Wir vermieten ab 1. August 2021 oder nach Vere...,de,"We rent this modern, bright and spacious 5.5 r..."

In [ ]:
df_5.head()

,0,1,2,3,4
0,258901,sofort,Top-Wohnung an Top-Lage,en,Top apartment in a top location
1,258902,nach Vereinbarung,Monolocale ammobiliato da affittare in via Car...,it,Furnished studio apartment to rent in via Caro...
2,258903,nach Vereinbarung,"Chiasso, in edificio di soli uffici, adiacente...",it,"Chiasso, in an office-only building, adjacent ..."
3,258904,sofort,Casa unifamiliare situata in un quartiere resi...,it,Single-family house located in a quiet residen...
4,258905,nach Vereinbarung,Per sofort oder nach Vereinbarung vermieten wi...,de,We rent a handicraft room on the 1st basement ...

In [ ]:
df_5.tail()

,0,1,2,3,4
50105,310274,nach Vereinbarung,"an ruhiger, sonniger Wohnlage.Die Wohnung verf...",de,"in a quiet, sunny residential area. The apartm..."
50106,310275,nach Vereinbarung,Wir haben den Standort - Sie den Erfolg! Der a...,de,We have the location - you have the success! T...
50107,310276,nach Vereinbarung,Wir vermieten per sofort oder nach Vereinbarun...,de,We rent indoor parking spaces in the Gerhad-/W...
50108,310277,nach Vereinbarung,Am Rennweg 62 in Biel entstehen im 2. Obergesc...,de,"At Rennweg 62 in Biel, modern offices and stud..."
50109,310278,nach Vereinbarung,Wir vermieten Büroräumlichkeit als Home office...,de,We rent office space as a home office or studi...

In [ ]:
df_6.head()

,0,1,2,3,4
0,310279,nach Vereinbarung,Exklusive 4 -Zimmer Eigentumswohnung zur Miete...,de,"Exclusive 4-room condominium for rent, quiet &..."
1,310280,nach Vereinbarung,"Cerco subentrante per grazioso 1,5 locali a Pr...",it,I am looking for a substitute for a nice 1.5 r...
2,310281,15.10.2021,Per 15. Oktober 2021 oder nach Vereinbarung ve...,de,We rent this bright 3-room apartment in Ricken...
3,310282,nach Vereinbarung,Wir vermieten nach Vereinbarung einen Tiefgara...,de,We rent an underground parking space at Witiko...
4,310283,01.10.2021,Per 01. Oktober 2021oder nach Vereinbarung ver...,de,"As of October 1st, 2021 or by arrangement, we ..."

In [ ]:
df_6.tail()

,0,1,2,3,4
50089,361556,nach Vereinbarung,Immeuble situé à proximité de toutes commodité...,fr,Building located close to all amenities- Inter...
50090,361557,nach Vereinbarung,A louer à partir du 1er novembre 2021 ou sur d...,fr,"For rent from November 1, 2021 or on request i..."
50091,361558,nach Vereinbarung,Ich suche per 1.11.21 einen Nachmieter/Nachmie...,de,I am looking for a new tenant for my attic apa...
50092,361559,nach Vereinbarung,"Schöne, sonnige 4.5 Etagenwohnung am Rothbündt...",de,"Beautiful, sunny 4.5 floor apartment at Rothbü..."
50093,361560,09.10.2021,This apartment offers everything you need for ...,en,This apartment offers everything you need for ...

In [ ]:
df_7.head()

,0,1,2,3,4
0,361562,sofort,Wir vermieten per sofort oder n.V. eine helle ...,de,We rent immediately or by agreement. a bright ...
1,361563,nach Vereinbarung,In zona centrale e ben servita affittiamo bar ...,it,In the central and well-served area we rent a ...
2,361564,nach Vereinbarung,- Einstellplätze in Tiefgarage einer Wohnüberb...,de,- Parking spaces in the underground car park o...
3,361565,nach Vereinbarung,Grosszügige 2.5 Zimmerwohnung mit grosser Terr...,de,Spacious 2.5 room apartment with a large terra...
4,361566,nach Vereinbarung,Ab 01.09.2021Für mehr info bitte anrufen oder ...,de,"From September 1st, 2021For more information p..."

In [ ]:
df_7.tail()

,0,1,2,3,4
50078,412922,nach Vereinbarung,Superbe studio meublé d'une pièce d'une surfac...,fr,Superb furnished one-room studio with a living...
50079,412923,nach Vereinbarung,Die Gemeinde Schöfflisdorf ist zwischen Lägern...,de,The municipality of Schöfflisdorf is embedded ...
50080,412924,01.11.2021,Diese wunderschöne 2.5-Zimmer Wohnung im Kreis...,de,This beautiful 2.5 room apartment in district ...
50081,412925,sofort,Sind Sie auf der Suche nach einer hellen gross...,de,"Are you looking for a bright, spacious 2.5 roo..."
50082,412926,nach Vereinbarung,Im ersten Stock unserer Liegenschaft an der In...,de,On the first floor of our property at Industri...

In [ ]:
df_8.head()

,0,1,2,3,4
0,412927,nach Vereinbarung,Erstbezug nach Totalsanierung!Mieten Sie eine ...,de,First occupation after total renovation! Rent ...
1,412928,nach Vereinbarung,***Scroll down for the English version***Helle...,en,***Scroll down for the German version***Bright...
2,412929,nach Vereinbarung,!! Dernière villa individuelle à vendre !!Conn...,fr,!! Last detached villa for sale!!Do you know t...
3,412930,nach Vereinbarung,Cette magnifique ferme rénovée en 2013 présent...,fr,This magnificent farmhouse renovated in 2013 o...
4,412931,nach Vereinbarung,Das Schmuckstück der zentral gelegenen Wohnung...,de,The gem of the centrally located apartment is ...

In [ ]:
df_8.tail()

,0,1,2,3,4
50076,464392,By arrangement,C'est dans un magnifique environnement de natu...,fr,This semi-detached villa will be located in a ...
50077,464393,By arrangement,Magnifique appartement de 3.5 pièces situé au ...,fr,Magnificent 3.5 room apartment located on the ...
50078,464394,By arrangement,"Siamo ad Osogna,nel verdeggiante comune di Riv...",it,"We are in Osogna, in the green town of Riviera..."
50079,464395,By arrangement,"Renovierte, helle 2.5 Zimmer-Wohnung im Hasenk...",de,"Renovated, bright 2.5 room apartment in the Ha..."
50080,464396,By arrangement,ZWISCHENNUTZUNG BIS 30. JUNI 2022Sind Sie Schl...,de,"INTERIM USE UNTIL JUNE 30, 2022Are you a locks..."

In [ ]:
df_9.head()

,0,1,2,3,4
0,464397,By arrangement,"Appartamento 3.5 locali di circa 75 mq lordi, ...",it,"3.5-room apartment of about 75 gross sqm, furn..."
1,464399,By arrangement,Sie suchen eine externe Alternative zum Homeof...,de,Are you looking for an external alternative to...
2,464400,sofort,"Magnifique appartement 3,5 pièces neuf tout ju...",fr,"Magnificent new 3.5-room apartment just built,..."
3,464401,Immediately,"Hochwertiger Ausbaustandard, Loggia, Parkett, ...",de,"High-quality standard of construction, loggia,..."
4,464402,Immediately,Wir vermieten per sofort oder nach Vereinbarun...,de,We rent this light-flooded apartment in a quie...

In [ ]:
df_9.tail()

,0,1,2,3,4
50226,516761,By arrangement,Appartement de 3.5 pièces de 54m2 disponible d...,fr,3.5 room apartment of 54m2 available from Marc...
50227,516762,By arrangement,Terreno edificabile di 1548 mq situato ad Orse...,it,Building land of 1548 sqm located in Orselina ...
50228,516763,nach Vereinbarung,"zu Vermieten in Tiefgarage in Horgen, Parkplat...",de,"for rent in underground car park in Horgen, pa..."
50229,516764,By arrangement,"A louer à Posieux, impasse du Vany 1. 2 places...",fr,"For rent in Posieux, impasse du Vany 1. 2 unde..."
50230,516766,Immediately,"Neuwertige sanierte Wohnung, kpl. Sanierung 20...",de,"Newly renovated apartment, cpl. Refurbishment ..."

In [ ]:
df_10.head()

,0,1,2,3,4
0,516767,01.05.2022,Wir vermieten per 01.05.2022 oder nach Vereinb...,de,We rent a quiet and sunny 3 1/2 room apartment...
1,516768,By arrangement,"A Louer 2,5 pièces à Ecublens dans villa au re...",fr,For rent 2.5 rooms in Ecublens in a villa on t...
2,516769,By arrangement,"A Massagno a pochi minuti da Lugano,proponiamo...",it,"In Massagno, a few minutes from Lugano, we off..."
3,516770,01.03.2022,"Renovierte, helle Dachwohnung in einem 2-Famil...",de,"Renovated, bright attic apartment in a 2-famil..."
4,516771,By arrangement,Affittasi appartamento appena rinnovato (tutte...,it,Newly renovated apartment for rent (all the wa...

In [ ]:
df_10.tail()

,0,1,2,3,4
50120,569703,Immediately,Unterhalb des Einkaufszentrums von Farvagny ve...,de,Below the Farvagny shopping center we rent a g...
50121,569704,01.03.2022,Wir vermieten per 01. März 2022 eine grosszügi...,de,"As of March 1st, 2022, we are renting a spacio..."
50122,569706,By arrangement,Dieses wunderschöne Grundstück am mittel-steil...,de,This beautiful plot of land on a medium-steep ...
50123,569707,01.05.2022,Spacieux appartement de 4.5 pièces de 110 m2 r...,fr,Spacious 4.5 room apartment of 110 m2 on the g...
50124,569708,01.02.2022,"Le logement, proche de toutes les commodités, ...",fr,"The accommodation, close to all amenities, inc..."

In [ ]:
df_11.head()

,0,1,2,3,4
0,569709,Immediately,"Disponiamo in vendita di un bel 4,5 , in casa ...",it,"We have for sale a nice 4.5, in a period house..."
1,569710,15.12.2021,"Situé à 150 mètres de la gare de Bussigny, mag...",fr,Located 150 meters from Bussigny train station...
2,569711,01.04.2022,A louer 2 pièces bien situé au 2ème étage en v...,fr,For rent 2 rooms well located on the 2nd floor...
3,569712,01.04.2022,Lugano centro. Nella elegante cornice della zo...,it,Lugano center. In the elegant setting of the p...
4,569713,nach Vereinbarung,La Natura e l'Artificio che più caratterizzano...,it,The nature and the artifice that most characte...

In [ ]:
df_11.tail()

,0,1,2,3,4
12422,582665,By arrangement,"La société Shifters déménage, besoin de plus d...",fr,"Shifters company is moving, need more space!!...."
12423,582666,By arrangement,L'appartement se situe au centre de la commune...,fr,The apartment is located in the center of the ...
12424,582667,By arrangement,Avec un grand potentiel - lumineux avec un emp...,fr,With great potential - bright with an ideal lo...
12425,582668,01.04.2022,Die Wohnung verfügt über eine offene Küche mit...,de,The apartment has an open kitchen with steamer...
12426,582668,01.04.2022,Die Wohnung verfügt über eine offene Küche mit...,de,The apartment has an open kitchen with steamer...

# Concatenate CSV files

In [43]:
trans_data = pd.concat([df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11], ignore_index=True)
len(trans_data)

563558

In [44]:
trans_data.rename(columns = {0:'id', 1:'available_date', 2:'adDescription', 3:'detectLang', 4:'transDescription'}, inplace=True)

In [45]:
trans_data.head()

,id,available_date,adDescription,detectLang,transDescription
0,0,not available,Appartement avec beaucoup de charme à louer à ...,fr,"Charming apartment for rent in Asuel, in La Ba..."
1,1,nach Vereinbarung,Die Highlights:» Gut geschnittener Büroraum in...,de,The highlights: »Well-designed office space in...
2,2,sofort,Für diese Wohnung suchen wir ein nettes Paar (...,de,For this apartment we are looking for a nice c...
3,3,sofort,"ChiassoSi affitta in pieno a centro a Chiasso,...",it,"Chiasso We rent in the center of Chiasso, 10-r..."
4,4,sofort,"Attico mansardato, posto in elegante palazzina...",it,"Attic penthouse, located in an elegant buildin..."

In [46]:
df_id.rename(columns = {'Unnamed':'id'}, inplace=True)
df_id.head()

   id
0   6
1  12
2  17
3  18
4  20

In [47]:
len(df_id)

105447

In [48]:
df_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105447 entries, 0 to 105446
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      105447 non-null  int64
dtypes: int64(1)
memory usage: 823.9 KB

In [58]:
trans_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 562359 entries, 0 to 563557
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                562359 non-null  int64
 1   available_date    562359 non-null  object
 2   adDescription     562359 non-null  object
 3   detectLang        562359 non-null  object
 4   transDescription  562359 non-null  object
dtypes: int64(1), object(4)
memory usage: 25.7+ MB

In [50]:
trans_data.isna().sum()

id                     0
available_date      1150
adDescription       1170
detectLang          1150
transDescription    1199
dtype: int64

In [55]:
trans_data.dropna(axis=0, inplace=True)
len(trans_data)

562359

In [57]:
trans_data = trans_data.astype({'id': int})

In [66]:
result = df_id.merge(trans_data, how='inner', on='id')
result.head()

,id,available_date,adDescription,detectLang,transDescription
0,6,sofort,A louer local plein pied de 100m2 facile d'acc...,fr,For rent local full foot of 100m2 easy to acce...
1,12,sofort,in Steinmaur vermieten wir verschiedene möblie...,de,in Steinmaur we rent various furnished single ...
2,17,not available,Situé au 1er étage dans un immeuble de la camp...,fr,Located on the 1st floor in a building in the ...
3,18,not available,Suchen Sie einen neuen Arbeitsort an renommier...,de,Are you looking for a new place of work in a r...
4,20,nach Vereinbarung,Magnifique appart. de 3.5 pièces - cuisine age...,fr,Magnificent apartment. of 3.5 rooms - fitted k...

In [67]:
len(result)

99145

In [68]:
105447 - 99145

6302

In [73]:
result.to_csv('drive/MyDrive/translation.csv', index=False)

In [18]:
trans_data.head()

,0,1,2,3,4
0,0,not available,Appartement avec beaucoup de charme à louer à ...,fr,"Charming apartment for rent in Asuel, in La Ba..."
1,1,nach Vereinbarung,Die Highlights:» Gut geschnittener Büroraum in...,de,The highlights: »Well-designed office space in...
2,2,sofort,Für diese Wohnung suchen wir ein nettes Paar (...,de,For this apartment we are looking for a nice c...
3,3,sofort,"ChiassoSi affitta in pieno a centro a Chiasso,...",it,"Chiasso We rent in the center of Chiasso, 10-r..."
4,4,sofort,"Attico mansardato, posto in elegante palazzina...",it,"Attic penthouse, located in an elegant buildin..."

In [ ]:
#check for duplicates

In [ ]:
trans_data.duplicated() == True

0         False
1         False
2         False
3         False
4         False
          ...
563553    False
563554    False
563555    False
563556    False
563557     True
Length: 563558, dtype: bool

In [ ]:
trans_data[0]

0              0
1              1
2              2
3              3
4              4
           ...
563553    582665
563554    582666
563555    582667
563556    582668
563557    582668
Name: 0, Length: 563558, dtype: object

In [ ]:
dup = trans_data[trans_data[0].duplicated(keep=False)]
dup

,0,1,2,3,4
12671,Max height 1.9m,NaN,NaN,NaN,NaN
12672,Max width 2.1m,NaN,NaN,NaN,NaN
12673,Max length 4.2m,NaN,NaN,NaN,NaN
18089,- Bathroom with bathtub,NaN,NaN,NaN,NaN
26349,We are looking forward to your contact!,NaN,NaN,NaN,NaN
...,...,...,...,...,...
563110,- Sep Laundry room/work room,NaN,NaN,NaN,NaN
563111,Interested? Further information and pictures o...,NaN,NaN,NaN,NaN
563112,Location Optimizer,NaN,NaN,NaN,NaN
563556,582668,01.04.2022,Die Wohnung verfügt über eine offene Küche mit...,de,The apartment has an open kitchen with steamer...
563557,582668,01.04.2022,Die Wohnung verfügt über eine offene Küche mit...,de,The apartment has an open kitchen with steamer...

In [ ]:
len(trans_data) - 562393

1165

In [ ]:
trans_data[trans_data.duplicated(keep = 'first')]

,0,1,2,3,4
75897,- Bathroom with bathtub,NaN,NaN,NaN,NaN
79181,We are looking forward to your contact!,NaN,NaN,NaN,NaN
84432,District 12 is characterized by a large propor...,NaN,NaN,NaN,NaN
84433,Source: www.stadt-zuerich.ch,NaN,NaN,NaN,NaN
84823,District 12 is characterized by a large propor...,NaN,NaN,NaN,NaN
...,...,...,...,...,...
563109,- Generous 19 m² screed,NaN,NaN,NaN,NaN
563110,- Sep Laundry room/work room,NaN,NaN,NaN,NaN
563111,Interested? Further information and pictures o...,NaN,NaN,NaN,NaN
563112,Location Optimizer,NaN,NaN,NaN,NaN
563557,582668,01.04.2022,Die Wohnung verfügt über eine offene Küche mit...,de,The apartment has an open kitchen with steamer...

In [ ]:
#concatenate rest of columns/data

In [ ]:
#use transformer model from hugging face to score description
#also use transformer model to try and extract data like m2, available date and other useful information. If the house has been renovated or not

In [ ]:
trans_data.head()

,0,1,2,3,4
0,0,not available,Appartement avec beaucoup de charme à louer à ...,fr,"Charming apartment for rent in Asuel, in La Ba..."
1,1,nach Vereinbarung,Die Highlights:» Gut geschnittener Büroraum in...,de,The highlights: »Well-designed office space in...
2,2,sofort,Für diese Wohnung suchen wir ein nettes Paar (...,de,For this apartment we are looking for a nice c...
3,3,sofort,"ChiassoSi affitta in pieno a centro a Chiasso,...",it,"Chiasso We rent in the center of Chiasso, 10-r..."
4,4,sofort,"Attico mansardato, posto in elegante palazzina...",it,"Attic penthouse, located in an elegant buildin..."

In [ ]:
trans_data.head()

,id,available_data,adDescription,detectLang,transDescription
0,0,not available,Appartement avec beaucoup de charme à louer à ...,fr,"Charming apartment for rent in Asuel, in La Ba..."
1,1,nach Vereinbarung,Die Highlights:» Gut geschnittener Büroraum in...,de,The highlights: »Well-designed office space in...
2,2,sofort,Für diese Wohnung suchen wir ein nettes Paar (...,de,For this apartment we are looking for a nice c...
3,3,sofort,"ChiassoSi affitta in pieno a centro a Chiasso,...",it,"Chiasso We rent in the center of Chiasso, 10-r..."
4,4,sofort,"Attico mansardato, posto in elegante palazzina...",it,"Attic penthouse, located in an elegant buildin..."

#Installing and import huggingface models

In [ ]:
!pip install transformers[sentencepiece]

Collecting transformers[sentencepiece]
  Downloading transformers-4.18.0-py3-none-any.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 28.0 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers[sentencepiece]) (21.3)
Collecting huggingface-hub<1.0,>=0.1.0
  Downloading huggingface_hub-0.5.1-py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 8.0 MB/s
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.11.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.5 MB)
     |████████████████████████████████| 6.5 MB 53.1 MB/s
Collecting sacremoses
  Downloading sacremoses-0.0.49-py3-none-any.whl (895 kB)
     |████████████████████████████████| 895 kB 50.5 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers[sentencepiece]) (2.23.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers[sentencepiece]) (2019.12.20)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers[sentencepiece]) (4.11.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers[sentencepiece]) (4.63.0)
Collecting pyyaml>=5.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 47.7 MB/s
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers[sentencepiece]) (3.6.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers[sentencepiece]) (1.21.5)
Collecting sentencepiece!=0.1.92,>=0.1.91
  Downloading sentencepiece-0.1.96-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 57.5 MB/s
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from transformers[sentencepiece]) (3.17.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers[sentencepiece]) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers[sentencepiece]) (3.0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers[sentencepiece]) (3.7.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf->transformers[sentencepiece]) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers[sentencepiece]) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers[sentencepiece]) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers[sentencepiece]) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers[sentencepiece]) (3.0.4)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers[sentencepiece]) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers[sentencepiece]) (1.1.0)
Installing collected packages: pyyaml, tokenizers, sacremoses, huggingface-hub, transformers, sentencepiece
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
Successfully installed huggingface-hub-0.5.1 pyyaml-6.0 sacremoses-0.0.49 sentencepiece-0.1.96 tokenizers-0.11.6 transformers-4.18.0

In [ ]:
import transformers
from transformers import pipeline

In [ ]:
#using zero shot classification 

classifier = pipeline("zero-shot-classification")

No model was supplied, defaulted to facebook/bart-large-mnli (https://huggingface.co/facebook/bart-large-mnli)

In [ ]:
def description(text):
  results = classifier(text, candidate_labels = ['not_rent', 'rentals'])
  return results['scores'][0]

In [ ]:
trans_data.iloc[4,4]

'Attic penthouse, located in an elegant building of recent construction, in a particularly convenient area with the main communication routes and the railway station.It consists of an entrance hall with a private lift, a living room with a beautiful lake view, an open kitchenette with a dining area. , guest bathroom, private laundry room, night atrium with additional bathroom, three spacious bedrooms, the master bedroom with private bathroom. Jacuzzi tub.There is also a very large adjoining room of 120 square meters available, very useful and functional.The cellar and three parking spaces in the garage compete with the apartment.All the rooms are high, very bright, with air conditioning, alarm, heating with coils powered by heat pump.'

In [ ]:
description(trans_data.iloc[4,4])

0.7834746837615967

In [ ]:
description(trans_data.iloc[4,4])['scores'][0]

0.7834746837615967

In [ ]:
#classifier = pipeline("summarization")

In [ ]:
#classifier(trans_data.iloc[4,4], min_length=75, max_length=100)

In [ ]:
trans_data['description_score'] = np.NaN

In [ ]:
trans_data.head()

,id,available_data,adDescription,detectLang,transDescription,description_score
0,0,not available,Appartement avec beaucoup de charme à louer à ...,fr,"Charming apartment for rent in Asuel, in La Ba...",NaN
1,1,nach Vereinbarung,Die Highlights:» Gut geschnittener Büroraum in...,de,The highlights: »Well-designed office space in...,NaN
2,2,sofort,Für diese Wohnung suchen wir ein nettes Paar (...,de,For this apartment we are looking for a nice c...,NaN
3,3,sofort,"ChiassoSi affitta in pieno a centro a Chiasso,...",it,"Chiasso We rent in the center of Chiasso, 10-r...",NaN
4,4,sofort,"Attico mansardato, posto in elegante palazzina...",it,"Attic penthouse, located in an elegant buildin...",NaN

In [ ]:
trans_data['score'] = trans_data['transDescription'].apply(lambda x: description(x))

In [ ]:
trans_data['transDescription']

TypeError: ignored