<a href="https://colab.research.google.com/github/GbotemiB/Housing_Project/blob/main/working_translation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [8]:
# Code to read csv file into Colaboratory:!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [54]:
id50 = '1v-l5x7xpCgI3az5lIv-fW9SviuS3TBfw'
id100 = '1WKUypQAJ17HhBqTXkxlfIW6_MeILONPN'
id150 = '16E6mfTuF54DIAPrOd6xfm3hsBHFKlCiS'
id200 = '1WE886ddDiVEZMTHEE48iqtpLGSML2OmP'
id250 = '15bxLpQiYljmsULz2s2p4dXU-TvyxM6BV'
id300 = '1zT_csqhUsR2qusF12cTkaolKYPdMUy2S'
id350 = '12aiDeWGMdWoPcqfV5y0EaTQxE3fEu404'
id400 = '1gTlKc-dZHbL7RQuUqxeJNq6yU_KdXxDf'
id450 = '18yd_j3tb77UhtFTzx1HBtmZ7vh03Epse'
#id500 = '1pDYKvPZkKvGsS-sAZ25K1nfZIhkaBbGm'
#id550 = '1Pwo8fwEzE4Juivo5aRZQEPZ122yeoOfM'
#id600 = '1OcXG8qzxMHr9ymQtg2v-GuTPeo_nxRlw'

In [50]:
#downloaded = drive.CreateFile({'id':id}) 
#downloaded.GetContentFile('Filename.csv')

In [51]:
ids = [id50, id100, id150, id200, id250, id300, id350, id400, id450]
df = {}

In [ ]:
https://drive.google.com/file/d/15bxLpQiYljmsULz2s2p4dXU-TvyxM6BV/view?usp=sharing

In [55]:
for id in ids:
  download = drive.CreateFile({'id':id})
  data = ids.index(id)
  download.GetContentFile(f'{data}.csv')
  df[f'df_{data}'] = f'{data}.csv'

In [56]:
df

{'df_0': '0.csv',
 'df_1': '1.csv',
 'df_2': '2.csv',
 'df_3': '3.csv',
 'df_4': '4.csv',
 'df_5': '5.csv',
 'df_6': '6.csv',
 'df_7': '7.csv',
 'df_8': '8.csv'}

In [57]:
df_0 = pd.read_csv('0.csv', header=None)
df_1 = pd.read_csv('1.csv', header=None)
df_2 = pd.read_csv('2.csv', header=None)
df_3 = pd.read_csv('3.csv', header=None)
df_4 = pd.read_csv('4.csv', header=None)
df_5 = pd.read_csv('5.csv', header=None)
df_6 = pd.read_csv('6.csv', header=None)
df_7 = pd.read_csv('7.csv', header=None)
df_8 = pd.read_csv('8.csv', header=None)

df_0.head()

,0,1,2,3,4
0,0,not available,Appartement avec beaucoup de charme à louer à ...,fr,"Charming apartment for rent in Asuel, in La Ba..."
1,1,nach Vereinbarung,Die Highlights:» Gut geschnittener Büroraum in...,de,The highlights: »Well-designed office space in...
2,2,sofort,Für diese Wohnung suchen wir ein nettes Paar (...,de,For this apartment we are looking for a nice c...
3,3,sofort,"ChiassoSi affitta in pieno a centro a Chiasso,...",it,"Chiasso We rent in the center of Chiasso, 10-r..."
4,4,sofort,"Attico mansardato, posto in elegante palazzina...",it,"Attic penthouse, located in an elegant buildin..."

In [60]:
df_0.head()

,0,1,2,3,4
0,0,not available,Appartement avec beaucoup de charme à louer à ...,fr,"Charming apartment for rent in Asuel, in La Ba..."
1,1,nach Vereinbarung,Die Highlights:» Gut geschnittener Büroraum in...,de,The highlights: »Well-designed office space in...
2,2,sofort,Für diese Wohnung suchen wir ein nettes Paar (...,de,For this apartment we are looking for a nice c...
3,3,sofort,"ChiassoSi affitta in pieno a centro a Chiasso,...",it,"Chiasso We rent in the center of Chiasso, 10-r..."
4,4,sofort,"Attico mansardato, posto in elegante palazzina...",it,"Attic penthouse, located in an elegant buildin..."

In [61]:
df_0.tail()

,0,1,2,3,4
50022,51807,15.03.2021,"Surface d'activités : garage, industrie, artis...",fr,"Surface of activities: garage, industry, craft..."
50023,51808,01.05.2021,C'est à deux pas du parc de Valency ainsi qu'à...,fr,This 3-room apartment is located a stone's thr...
50024,51809,sofort,Durch die helle Fensterfronten bietet der Raum...,de,The room offers a lot of light through the bri...
50025,51810,01.05.2021,"Im Richti Areal, direkt beim Bahnhof Wallisell...",de,"In the Richti Areal, right next to the Wallise..."
50026,51811,01.05.2021,Suchen Sie etwas ganz Spezielles an zentraler ...,de,Are you looking for something very special in ...

In [62]:
df_1.head()

,0,1,2,3,4
0,51812,nach Vereinbarung,"Idéalement placé entre Lausanne et Genève, Le ...",fr,"Ideally located between Lausanne and Geneva, t..."
1,51813,sofort,Nähe Hauptbahnhof und Europaalle vermieten wir...,de,We are now renting out several parking spaces ...
2,51814,nach Vereinbarung,"Coop, Apotheke und Drogerie sind einige Meter ...",de,"Coop, pharmacy and drugstore are a few meters ..."
3,51815,nach Vereinbarung,Ce bien d'exception se situe dans la 3ème étap...,fr,This exceptional property is located in the 3r...
4,51816,nach Vereinbarung,"An bester Lage, im Herzen von Bern, könnten si...",de,Your business premises could soon be in a prim...

In [63]:
df_1.tail()

,0,1,2,3,4
50073,103571,sofort,"Belle maison individuelle de 4,5 pièces récemm...",fr,Beautiful detached house with 4.5 rooms recent...
50074,103572,01.05.2021,Bel appartement à 10min en vélo de l'hôpital R...,fr,Beautiful apartment 10min by bike from the Riv...
50075,103573,01.06.2021,Per 1. Juni 2021 oder nach Vereinbarung vermie...,de,"As of June 1, 2021 or by arrangement, we will ..."
50076,103574,nach Vereinbarung,Herrlicher freier und atemberaubender Blick üb...,de,Magnificent free and breathtaking view over th...
50077,103575,nach Vereinbarung,Cette charmante villa individuelle de 6.5 pièc...,fr,This charming detached 6.5 room villa is locat...

In [64]:
df_2.head()

,0,1,2,3,4
0,103577,01.04.2021,Wir vermieten an ruhiger Lage eine geräumige 4...,de,We rent a spacious 4-room apartment in a quiet...
1,103578,nach Vereinbarung,Locaux meublés de bureaux comptoir chaises arm...,fr,Premises furnished with offices counter chairs...
2,103579,01.04.2021,MIETDAUER ab 1. April 2021 bis 30. September 2...,de,"RENTAL PERIOD from April 1, 2021 to September ..."
3,103580,nach Vereinbarung,"Cette maison, idéale pour une famille, bénéfic...",fr,"This house, ideal for a family, enjoys a rare ..."
4,103581,01.08.2021,"Das grosszügige, freistehende Einfamilienhaus ...",de,"The spacious, detached single-family house is ..."

In [65]:
df_2.tail()

,0,1,2,3,4
50146,155355,not available,KurzbeschreibungDie Wohnung entsteht aus einem...,de,Brief descriptionThe apartment is created from...
50147,155356,nach Vereinbarung,"Fläche 1'068m2; Liegenschaft; Gebäude, Strasse...",de,"Area 1'068m2; Property; building, street, path..."
50148,155358,20.12.2022,Neue Förderung von Villen / Apartments in den ...,de,New promotion of villas / apartments on the he...
50149,155359,nach Vereinbarung,Appartement a louer à Vallorbe.3 pièces de 54m...,fr,Apartment for rent in Vallorbe. 3 rooms of 54m...
50150,155360,01.06.2021,Die zentral gelegene 3.5-Zimmer Wohnung liegt ...,de,The centrally located 3.5 room apartment is in...

In [66]:
df_3.head()

,0,1,2,3,4
0,155361,01.08.2021,Zu vermieten mitten im Zentrum von Erlach und ...,de,For rent in the center of Erlach and yet in th...
1,155362,nach Vereinbarung,"Jolie propriété, construite dans les années 19...",fr,"Pretty property, built in the 1970s and very w..."
2,155363,01.07.2021,Die unmöblierte Wohnung liegt im 2.OG und kann...,de,The unfurnished apartment is on the 2nd floor ...
3,155364,01.07.2021,Die Räumlichkeiten der ehemaligen Kegelbahn bi...,de,The premises of the former bowling alley offer...
4,155365,sofort,"Nach Sanierung vermieten wir an ruhiger, sonni...",de,"After renovation, we rent a 4 1/2-room corner ..."

In [67]:
df_3.tail()

,0,1,2,3,4
50090,207051,sofort,Wir vermieten per sofort oder nach Vereinbarun...,de,We rent approx. 772 m² of fully developed spac...
50091,207052,01.08.2021,Profitieren Sie vom tiefen Steuerfuss der Stad...,de,Benefit from the low tax rate of the city of O...
50092,207053,01.09.2021,Ich suche einen neuen Mitbewohner für meine 2e...,de,I'm looking for a new roommate for my 2-person...
50093,207054,01.10.2021,Nous mettons en location un lumineux logement ...,fr,We are renting a bright accommodation ideally ...
50094,207056,sofort,\rDie grossräumige Altbauwohnung in renovierte...,de,The spacious renovated old building apartment ...

In [68]:
df_4.head()

,0,1,2,3,4
0,207057,31.07.2021,Cet appartement au quatrième étage est idéalem...,fr,This fourth floor apartment is ideally located...
1,207058,01.10.2021,Wir vermieten ab dem 01.10.2021 ein WG-Zimmer ...,de,"From October 1st, 2021 we will rent a shared r..."
2,207059,nach Vereinbarung,Lamone è un Comune Ticinese dell'area di Lugan...,it,Lamone is a Ticino municipality in the Lugano ...
3,207061,nach Vereinbarung,A louer 3.5 pcs 80m2 Jurastrasse 21. 2502 Bien...,de,A louer 3.5 pcs 80m2 Jurastrasse 21. 2502 Bien...
4,207062,nach Vereinbarung,\rDie 3 1/2-Zimmerwohnung befindet sich im 2. ...,de,The 3 1/2 room apartment is on the 2nd floor. ...

In [69]:
df_4.tail()

,0,1,2,3,4
50051,258896,sofort,*** Ihr neues Pilatus Studio! Zügeln Sie Ihr U...,de,*** Your new Pilatus Studio! Relocate your com...
50052,258897,15.07.2021,Situé au 2ème étage d'un petit immeuble locati...,fr,Located on the 2nd floor of a small rental bui...
50053,258898,01.09.2021,Habitation individuelle à louer pour une pério...,fr,Individual dwelling for rent for a period of t...
50054,258899,sofort,"Nella nuova ""Residenza Francesca"" proponiamo i...",it,"In the new ""Residenza Francesca"" we offer for ..."
50055,258900,01.08.2021,Wir vermieten ab 1. August 2021 oder nach Vere...,de,"We rent this modern, bright and spacious 5.5 r..."

In [70]:
df_5.head()

,0,1,2,3,4
0,258901,sofort,Top-Wohnung an Top-Lage,en,Top apartment in a top location
1,258902,nach Vereinbarung,Monolocale ammobiliato da affittare in via Car...,it,Furnished studio apartment to rent in via Caro...
2,258903,nach Vereinbarung,"Chiasso, in edificio di soli uffici, adiacente...",it,"Chiasso, in an office-only building, adjacent ..."
3,258904,sofort,Casa unifamiliare situata in un quartiere resi...,it,Single-family house located in a quiet residen...
4,258905,nach Vereinbarung,Per sofort oder nach Vereinbarung vermieten wi...,de,We rent a handicraft room on the 1st basement ...

In [71]:
df_5.tail()

,0,1,2,3,4
50105,310274,nach Vereinbarung,"an ruhiger, sonniger Wohnlage.Die Wohnung verf...",de,"in a quiet, sunny residential area. The apartm..."
50106,310275,nach Vereinbarung,Wir haben den Standort - Sie den Erfolg! Der a...,de,We have the location - you have the success! T...
50107,310276,nach Vereinbarung,Wir vermieten per sofort oder nach Vereinbarun...,de,We rent indoor parking spaces in the Gerhad-/W...
50108,310277,nach Vereinbarung,Am Rennweg 62 in Biel entstehen im 2. Obergesc...,de,"At Rennweg 62 in Biel, modern offices and stud..."
50109,310278,nach Vereinbarung,Wir vermieten Büroräumlichkeit als Home office...,de,We rent office space as a home office or studi...

In [72]:
df_6.head()

,0,1,2,3,4
0,310279,nach Vereinbarung,Exklusive 4 -Zimmer Eigentumswohnung zur Miete...,de,"Exclusive 4-room condominium for rent, quiet &..."
1,310280,nach Vereinbarung,"Cerco subentrante per grazioso 1,5 locali a Pr...",it,I am looking for a substitute for a nice 1.5 r...
2,310281,15.10.2021,Per 15. Oktober 2021 oder nach Vereinbarung ve...,de,We rent this bright 3-room apartment in Ricken...
3,310282,nach Vereinbarung,Wir vermieten nach Vereinbarung einen Tiefgara...,de,We rent an underground parking space at Witiko...
4,310283,01.10.2021,Per 01. Oktober 2021oder nach Vereinbarung ver...,de,"As of October 1st, 2021 or by arrangement, we ..."

In [73]:
df_6.tail()

,0,1,2,3,4
50089,361556,nach Vereinbarung,Immeuble situé à proximité de toutes commodité...,fr,Building located close to all amenities- Inter...
50090,361557,nach Vereinbarung,A louer à partir du 1er novembre 2021 ou sur d...,fr,"For rent from November 1, 2021 or on request i..."
50091,361558,nach Vereinbarung,Ich suche per 1.11.21 einen Nachmieter/Nachmie...,de,I am looking for a new tenant for my attic apa...
50092,361559,nach Vereinbarung,"Schöne, sonnige 4.5 Etagenwohnung am Rothbündt...",de,"Beautiful, sunny 4.5 floor apartment at Rothbü..."
50093,361560,09.10.2021,This apartment offers everything you need for ...,en,This apartment offers everything you need for ...

In [74]:
df_7.head()

,0,1,2,3,4
0,361562,sofort,Wir vermieten per sofort oder n.V. eine helle ...,de,We rent immediately or by agreement. a bright ...
1,361563,nach Vereinbarung,In zona centrale e ben servita affittiamo bar ...,it,In the central and well-served area we rent a ...
2,361564,nach Vereinbarung,- Einstellplätze in Tiefgarage einer Wohnüberb...,de,- Parking spaces in the underground car park o...
3,361565,nach Vereinbarung,Grosszügige 2.5 Zimmerwohnung mit grosser Terr...,de,Spacious 2.5 room apartment with a large terra...
4,361566,nach Vereinbarung,Ab 01.09.2021Für mehr info bitte anrufen oder ...,de,"From September 1st, 2021For more information p..."

In [75]:
df_7.tail()

,0,1,2,3,4
50078,412922,nach Vereinbarung,Superbe studio meublé d'une pièce d'une surfac...,fr,Superb furnished one-room studio with a living...
50079,412923,nach Vereinbarung,Die Gemeinde Schöfflisdorf ist zwischen Lägern...,de,The municipality of Schöfflisdorf is embedded ...
50080,412924,01.11.2021,Diese wunderschöne 2.5-Zimmer Wohnung im Kreis...,de,This beautiful 2.5 room apartment in district ...
50081,412925,sofort,Sind Sie auf der Suche nach einer hellen gross...,de,"Are you looking for a bright, spacious 2.5 roo..."
50082,412926,nach Vereinbarung,Im ersten Stock unserer Liegenschaft an der In...,de,On the first floor of our property at Industri...

In [76]:
df_8.head()

,0,1,2,3,4
0,412927,nach Vereinbarung,Erstbezug nach Totalsanierung!Mieten Sie eine ...,de,First occupation after total renovation! Rent ...
1,412928,nach Vereinbarung,***Scroll down for the English version***Helle...,en,***Scroll down for the German version***Bright...
2,412929,nach Vereinbarung,!! Dernière villa individuelle à vendre !!Conn...,fr,!! Last detached villa for sale!!Do you know t...
3,412930,nach Vereinbarung,Cette magnifique ferme rénovée en 2013 présent...,fr,This magnificent farmhouse renovated in 2013 o...
4,412931,nach Vereinbarung,Das Schmuckstück der zentral gelegenen Wohnung...,de,The gem of the centrally located apartment is ...

In [77]:
df_8.tail()

,0,1,2,3,4
50076,464392,By arrangement,C'est dans un magnifique environnement de natu...,fr,This semi-detached villa will be located in a ...
50077,464393,By arrangement,Magnifique appartement de 3.5 pièces situé au ...,fr,Magnificent 3.5 room apartment located on the ...
50078,464394,By arrangement,"Siamo ad Osogna,nel verdeggiante comune di Riv...",it,"We are in Osogna, in the green town of Riviera..."
50079,464395,By arrangement,"Renovierte, helle 2.5 Zimmer-Wohnung im Hasenk...",de,"Renovated, bright 2.5 room apartment in the Ha..."
50080,464396,By arrangement,ZWISCHENNUTZUNG BIS 30. JUNI 2022Sind Sie Schl...,de,"INTERIM USE UNTIL JUNE 30, 2022Are you a locks..."

In [80]:
trans_data = pd.concat([df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8], ignore_index=True)
len(trans_data)

450775

In [81]:
#trans_data[50025:50030]

In [82]:
trans_data.head()

,0,1,2,3,4
0,0,not available,Appartement avec beaucoup de charme à louer à ...,fr,"Charming apartment for rent in Asuel, in La Ba..."
1,1,nach Vereinbarung,Die Highlights:» Gut geschnittener Büroraum in...,de,The highlights: »Well-designed office space in...
2,2,sofort,Für diese Wohnung suchen wir ein nettes Paar (...,de,For this apartment we are looking for a nice c...
3,3,sofort,"ChiassoSi affitta in pieno a centro a Chiasso,...",it,"Chiasso We rent in the center of Chiasso, 10-r..."
4,4,sofort,"Attico mansardato, posto in elegante palazzina...",it,"Attic penthouse, located in an elegant buildin..."

In [ ]:
#use transformer model from hugging face to score description
#also use transformer model to try and extract data like m2, available date and other useful information. If the house has been renovated or not